:root {
    --heading-font: "Lato", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

body {
    font-family: var(--body-font);
    color: #444444;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 900;
}

.heading-subtitle {
    margin-bottom: 32px;
}

section {
    padding-top: 84px;
    padding-bottom: 48px;
}

.navbar-brand span {
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 12px;
    letter-spacing: -1px;
}

#services {
    background-color: #f3f9fd;
}

#banner h1 {
    margin: 0 0 24px 0;
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 56px;
    color: black;
}

#banner h2 {
    color: #484848;
    margin-bottom: 62px;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 700;
}

#banner a {
    font-weight: 900;
    font-family: var(--heading-font);
    font-size: 1rem;
}

#mainHeader {
    z-index: 98;
    transition: all 0.5s;
    padding: 22px 0;
    background: #fff;
}

#mainHeader.header-scrolled {
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 12px 0;
}

.navbar li {
    padding: 0 16px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #3498db;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
    color: #555555;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar-brand img {
    height: 40px;
}

.services h3 {
    color: #3498db;
    font-size: 1.4rem;
    display: block;
    font-weight: 900;
    margin-bottom: 0;
}

.services p {
    font-size: 0.8rem;
    color: #555555;
}

.service-img {
    width: 42px;
}

.heading-title {
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 72px;
    margin-bottom: 0;
}

.question {
    padding: 24px;
}

.question:not(:first-child) {
    border-top: solid 1px #e0e0e0;
}

.question-header {
    display: flex;
}

.question-avatar {
    padding-top: 16px;
    padding-right: 24px;
}

.question-sender {
    line-height: 1.64;
    font-size: 14px;
    margin-bottom: 4px;
}

.question-body {
    margin-bottom: 8px;
}

.question-header.answer {
    border: 1px solid #dbdada;
    padding: 16px;
    margin-left: 79px;
    margin-top: 24px;
    border-radius: 12px;
}

.question-title-header {
    font-size: 1.2rem;
    font-weight: 700;
}

.hospital-info {
    font-size: 0.9rem;
    color: #6c6c6c;
    padding-left: 12px;
    padding-top: 12px;
}

.question-time {
    color: #555555;
}

.question-doctor {
    font-size: 12px;
    margin-bottom: 24px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #3570d2;
}

.question-title {
    font-weight: 700;
    line-height: 1.31;
    margin-bottom: 4px;
}

.question-meta {
    flex-grow: 1;
}

.question-info {
    float: right;
    text-align: right;
    font-size: 14px;
    width: 200px;
}

.profile-avatar {
    border-radius: 50%;
    background-color: #e6e6e6;
    width: 56px;
    height: 56px;
    background-size: cover;
    vertical-align: middle;
    line-height: 56px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.profile-avatar-doctor {
    margin-right: 32px;
    position: relative;
    top: -29px;
    left: 31px;
    border-radius: 50%;
    background-color: #e6e6e6;
    width: 40px;
    height: 40px;
    background-size: cover;
    vertical-align: middle;
    line-height: 56px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: solid 2px #ffffff;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    transition: box-shadow .25s;
    border-radius: 2px;
    -webkit-box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
    box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
    border: 0;
}

.article-card {
    display: flex;
    padding: 24px 0;
}

.article-card .responsive-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.article-card .figure {
    margin-right: 16px;
    min-height: 100%;
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
    flex-shrink: 0;
}

.article-properties {
    margin-left: 16px;
}

.article-title {
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    margin-bottom: 15px;
}

.article-summary {
    height: 70px;
    overflow: hidden;
    margin-bottom: 24px;
}

.read-more {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3670d2;
    cursor: pointer;
}


.nav-link.active {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-link.active {
    padding-left: 24px;
}

.nav-link a {
    position: relative;
}

.nav-link:after {
    content: "";
    border-bottom: 6px solid #fff;
    border-radius: 3px;
    width: 0%;
    position: absolute;
    bottom: 8px;
    -webkit-transition: all 0.2s cubic-bezier(0.42, 0.16, 0.21, 0.93);
    -o-transition: all 0.2s cubic-bezier(0.42, 0.16, 0.21, 0.93);
    transition: all 0.2s cubic-bezier(0.42, 0.16, 0.21, 0.93);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.nav-link.active:after {
    border-bottom-color: #3498db;
    width: 40px;
}

.hospital-card {
    padding: 16px;
    border: none;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.hospital-card figure {
    border-radius: 8px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.hospital-card .detail {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    padding: 12px 32px;
}

.hospital-card .icon {
    position: relative;
    top: 6px;
}

.hospital-card .icon {
    margin-right: 8px;
}


.hospital-card .mobile-link {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hospital-name {
    font-weight: 700;
}


.navbar .login,
.navbar .login:focus {
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
}

#footer {
    padding: 84px 0;
    color: #222222;
    font-size: 14px;
    position: relative;
    background-color: #f4f9fd;
}

.contact-about {
    padding-right: 32px;
}

.contact-logo img {
    width: 42px;
}

.login-form .icon {
    width: 80px;
    height: 80px;
    background: #1089ff;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 24px;
    color: #fff;
}

.login-form button {
    padding-top: 12px;
    padding-bottom: 12px;
}

.login-form .form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact-about p {
    color: rgba(0, 0, 0, .54);
    margin: 16px 0 16px 0;
    font-size: .875rem !important;
    font-weight: 400;
    letter-spacing: .0178571429em !important;
    line-height: 1.25rem;
}

.footer-deco {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.footer-deco .left-deco {
    background-image: -o-linear-gradient(355deg, #C8E6C9 0, #B3E5FC 110%);
    background-image: linear-gradient(95deg, #C8E6C9 0, #B3E5FC 110%);
}

.footer-deco .left-deco {
    position: absolute;
    left: -150px;
    top: -200px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    opacity: .2;
}

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #3498db;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #3498db;
}

ul.footer-sitemap {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: rgba(0, 0, 0, .54);
}

ul.footer-sitemap li {
    list-style: none;
    line-height: 32px;
}

.navbar-toggler {
    border: 0;
}

@media (min-width: 1024px) {
    #banner {
        background-attachment: fixed;
        width: 100%;
        height: 70vh;
        margin-top: 70px;
    }
}

@media screen and (max-width: 720px) {
    section {
        padding-left: 24px;
        padding-right: 24px;
    }

    .article-card .figure {
        width: 120px;
        height: 120px;
    }

    #footer {
        padding-left: 24px;
        padding-right: 24px;
    }

    .contact-about {
        margin-bottom: 48px;
    }

    .social-links {
        text-align: center;
    }

    .nav-link:after {
        display: none;
    }

    .nav-link.active {
        color: #3498db !important;
    }

    .navbar .login {
        margin-left: 0;
        text-align: center;
        justify-content: center;
        margin-top: 24px;
    }
}